
{% extends "NasAppBundle::layout.html.twig" %}

{% block NasApp_body %}
<div class="row">
	<div class="col-md-8 col-md-offset-3">
		<form method="post" {{ form_enctype(form) }} class="form-horizontal">
			
		<fieldset>

		<!-- Form Name -->
		<legend>Ajouter une intervention pour la spécialité : {{ specialite.specialite }} - <a href="{{ path('nasApp_detailSpecialite', {'idSpecialite': specialite.id}) }}" class="btn btn-info">Retour à la spécialité</a></legend>
		{{ form_errors(form) }}
		
		<!-- Text input-->
		<div class="form-group">
			<label for="username" class="col-sm-4 control-label">{{ form_label(form.intervention, "Nom de l'intervention : ") }}</label>
			<div class="col-sm-3">
				{{ form_widget(form.intervention,  { 'attr': {'class': 'form-control'}}) }}
			</div>
		</div>

		<!-- Text input-->
		<div class="form-group">
			<label for="username" class="col-sm-4 control-label">{{ form_label(form.ghs, "Montant GHS : ") }}</label>
			<div class="col-sm-3">
				{{ form_widget(form.ghs,  { 'attr': {'class': 'form-control'}}) }}
			</div>
		</div>		

		<!-- Text input-->
		<div class="form-group">
			<label for="username" class="col-sm-4 control-label">{{ form_label(form.dmi, "Montant DMI : ") }}</label>
			<div class="col-sm-3">
				{{ form_widget(form.dmi,  { 'attr': {'class': 'form-control'}}) }}
			</div>
		</div>		

		<!-- Text input-->
		<div class="form-group">
			<label for="username" class="col-sm-4 control-label">{{ form_label(form.honoraires, "Montant honoraires : ") }}</label>
			<div class="col-sm-3">
				{{ form_widget(form.honoraires,  { 'attr': {'class': 'form-control'}}) }}
			</div>
		</div>		

		<!-- Text input-->
		<div class="form-group">
			<label for="username" class="col-sm-4 control-label">{{ form_label(form.dontSpecialiste, "Dont Praticien : ") }}</label>
			<div class="col-sm-3">
				{{ form_widget(form.dontSpecialiste,  { 'attr': {'class': 'form-control'}}) }}
			</div>
		</div>					

		{{ form_rest(form) }}

		  <div class="form-group">
			<div class="col-sm-offset-4 col-sm-10">
			  <input type="submit" class="btn btn-success" value="Ajouter"/>
			</div>
		  </div>  

		
		</fieldset>		
		
		
		</form>
	</div>
</div>

{% endblock %}










