
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>{% block title %} Nas {% endblock%}</title>

    
	{% block stylesheets %}
	<link href="{{ asset('dist/css/styles.css') }}" rel="stylesheet">
    <link href="{{ asset('dist/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('dist/css/bootstrap-theme.css') }}" rel="stylesheet">
	<link href="{{ asset('dist/css/bootstrap.min.css') }}" rel="stylesheet">		
	{% endblock %}

  </head>

  <body style="min-height: 2000px; padding-top: 70px;">


<div id='cssmenu'>
<ul>
   <li class='active'><a href="{{ path('nas_app_homepage')}}"><span>Accueil</span></a></li>
   <li class='has-sub'><a href='#'><span>Devis</span></a>
      <ul>
         <li class='has-sub'><a href='#'><span>Créer un devis</span></a>
         </li>
         <li class='has-sub'><a href='#'><span>Vos devis</span></a>
         </li>         
		 <li class='has-sub'><a href='#'><span>Rechercher un devis</span></a>
         </li>
      </ul>
   </li>   
   <li class='has-sub'><a href='#'><span>Specialité</span></a>
      <ul>
         <li class='has-sub'><a href="{{ path('nasApp_ajouterSpecialite')}}"><span>Créer une Specialité</span></a>
         </li>
         <li class='has-sub'><a href="{{ path('nasApp_listeSpecialite')}}"><span>Liste des Specialités</span></a>
         </li>         
      </ul>
   </li>
  <li class='has-sub'><a href='#'><span>Bonjour, NomUtilisateur</span></a>
      <ul>
         <li class='has-sub'><a href="#"><span>Modifier mon mot de passe</span></a>
         </li>
         <li class='has-sub'><a href="#"><span>Modifier mes informations</span></a>
         </li>         
      </ul>
   </li>
</ul>
</div>

	
<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
		{% block titleAction %}
		{% endblock %}

    </div>
  
	  <div class="container">
		{% block body %}
		{% endblock %}
	  </div>
	  
    <div class="container">
      <footer>
        <p>&copy; Clinique Ambroise Pare 2014</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
