{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="row">
<div class="col-md-6 col-md-offset-3">
<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password" class="form-horizontal">
<fieldset>
	<legend>Changer votre mot de passe</legend>
	

{{ form_errors(form) }}

<div class="row">
	<div class="form-group">
		<label for="username" class="col-sm-4 control-label">Votre mot de passe : </label>
		<div class="col-sm-4">
			{{ form_widget(form.current_password, { 'attr': {'class': 'form-control'} }) }}
		</div>
	</div>
</div>
<p></p>
<div class="row">
	<div class="form-group">
		<label for="username" class="col-sm-4 control-label">Nouveau mot de passe : </label>
		<div class="col-sm-4">
			{{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
		</div>
	</div>
</div>
<p></p>
<div class="row">
	<div class="form-group">
		<label for="username" class="col-sm-4 control-label">Confirmer votre mot de passe : </label>
		<div class="col-sm-4">
			{{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
		</div>
	</div> 
</div>	
<p></p>
{{ form_rest(form) }}
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-10">
      <input type="submit" value="Valider" class="btn btn-default"/>
    </div>
  </div> 




	
</fieldset>	
</form>
</div>
</div>
{% endblock fos_user_content %}