{% extends "NasAppBundle::layout.html.twig" %}
{% block title %}
	Ajouter une intervention - {{ parent() }}
{% endblock %}
{% block titleAction %}<h2>Détail de la spécialité : {{ specialite.specialite }}</h2>{% endblock %}
{% block NasApp_body %}

<div class="row">
	<div class="col-md-12">
		<h3>Liste des interventions <a class="btn btn-success btn-sm" href="{{ path('nasApp_ajouterIntervention', {'idSpecialite': specialite.id}) }}"><span class="glyphicon glyphicon-plus"></span></a></h3>
		<table class="table table-striped" id="myTable">
			<thead>
			  <tr>
				<th>Intervention</th>
				<th>GHS</th>
				<th>DMI</th>
				<th>Honoraires autres spécialités</th>
				<th>jours CP</th>
				<th>Total</th>
				<th></th>
			  </tr>
			</thead>
			<tbody>
				{% for inter in listeIntervention %}
					<tr>
						<td>{{ inter.intervention }}</td>
						<td>{{ inter.ghs }}</td>
						<td>{{ inter.dmi }}</td>
						<td>{{ inter.honoraires }}</td>
						<td>{{ inter.nbrJours }}</td>
						<td>{{ inter.total }}</td>
						<td><a class="btn btn-warning" href="{{ path('nasApp_modifierIntervention', {'id': inter.id}) }}">Modifier</a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		
	</div>

</div>
	<hr>


{% endblock %}